 
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modalContentNavMenu shadow-lg p-3 mb-5 rounded">
                <div class="modal-header text-center border-0">
                    <h5 class="modal-title modalTitleNavMenu w-100">YO</h5>

                    <button type="button" class="btn-lg" onclick="location.href = '/Account/CreateAccount'">
                        <span class="icon icon-user"></span> 
                    </button>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modalBodyNavMenu justify-content-center">
                    <form action="">
                        @*<div class="imgcontainer">
                           <img src="img_avatar2.png" alt="Avatar" class="avatar">
                          </div>*@

                        <div class="container">
                            <div class="form-group">
                                <input type="number" placeholder="Dni" class="form-control formControlNavMenu">
                            </div>

                            <div class="form-group">
                                <input type="password" placeholder="Clave" class="form-control formControlNavMenu">
                            </div>
                            <div class="form-group">
                                <label>
                                    <span class="text-white">Forgot <a href="#">password?</a></span>
                                </label>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success btn-block grow">Ingresar</button>
                            </div> 
                            <div class="form-group">
                                <label class="text-white">
                                    <input type="checkbox" checked="checked" name="remember"> Remember me
                                </label>
                            </div>
                        </div>

                    </form>
                </div>

               
            </div>
        </div> 
    </div> 