<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content col-md-12">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100">Reportar</h5>
            </div>
            <div class="modal-body center">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3 col-sm-5">
                            <button id="buttonHistory" type="button" class="btn btn-success">HÍSTORIA</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-sm-5">
                            <button id="buttonQuestion" type="button" class="btn btn-info">PREGUNTAR</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-sm-5">
                            <button id="buttonLost" type="button" class="btn btn-warning">PERDI ÁLGO</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-sm-5">
                            <button id="buttonThief" type="button" class="btn btn-danger">ROBO</button>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>