
label.error {
    color: red!important;
    margin-top:25px;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;   
}

.footer {
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 10px;
} 