#spinnerBiger {
    width: 150px;
    height: 150px;
}

label.error {
    color: red!important;
    /*margin-top:25px;*/
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    /*overflow: auto;
    padding-bottom: 150px;*/ /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    /*height: 150px;*/
    clear: both;
    padding-top: 20px;
} 