<head>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/Base/ejemplo.css" />

</head> 
 
<div class="container">
    <div class="row">
        <div class="col-md-4 wow  fadeInLeft" data-wow-delay="0.3s">
            <input class="btn btn-success" type="button" value="Historias">
        </div>
        <div class="col-md-4 wow  fadeInLeft" data-wow-delay="0.3s">
            <input class="btn btn-success" type="submit" value="Reportar">
        </div>
        <div class="col-md-4 wow  fadeInLeft" data-wow-delay="0.3s">
            <input class="btn btn-success" type="reset" value="Navegar">
        </div>

    </div>
</div>

<!-- ReportOptions -->
@await Html.PartialAsync("NavMenu/_ReportOptions")

<!-- Log In -->
@await Html.PartialAsync("NavMenu/_Login")




