

<head>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/Shared/Menu/menu.css" />
</head>
<header>
    <div class="col-md-12 wow fadeInRight" data-wow-delay="0.3s">
        <div class="col-md-4 row">
            <h1 class="h1-responsive font-weight-bold">08:29 </h1><span> 29°C </span>

            <hr class="hr-light">
        </div>
    </div>

</header>

<div id="Menu">
    <div class="row justify-content-around "> 
        <div class="col-md-2 col-4 wow  fadeInLeft">
            <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#loginModal">Login modal</a>
        </div>
        <div class="col-md-2 col-4 wow  fadeInLeft" data-wow-delay="0.3s">
            <input class="btn btn-success btn-sm" onclick="location.href = '/Account/Login'" type="button" value="Login Page">
        </div>
        <div class="col-md-2 col-4 wow  fadeInLeft" data-wow-delay="0.3s">
            <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#reportModal">Reportar</a>
        </div>
        <div class="col-md-2  col-4 wow  fadeInLeft" data-wow-delay="0.3s">
            <input class="btn btn-success btn-sm" onclick="location.href = '/Account/Add'" type="button" value="Registrarse">
        </div>

    </div>

    <!-- ReportOptions -->
    @await Html.PartialAsync("_MenuReportOptions.cshtml")

    <!-- Log In -->
    @await Html.PartialAsync("_MenuLogIn.cshtml")

</div>


