 
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modalContentNavMenu shadow-lg p-3 mb-5 rounded">
                <div class="modal-header text-center border-0">
                    <h5 class="modal-title modalTitleNavMenu w-100"><strong>Ingresar</strong></h5>

                  
                    <button type="button" class="close grow">
                        <span aria-hidden="true">  <i class="fas fa-user-plus grow" onclick="location.href = '/Account/Add'"></i></span>
                    </button>
                    <button type="button" class="close grow" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modalBodyNavMenu justify-content-center">
                    <form action="">
                         
                        <div class="container"> 

                            <div class="md-form">
                                <i class="fas fa-id-card prefix active"></i>
                                <label for="dni" class="active text-white">Dni</label>
                                <input type="text" id="dni" maxlength="8" pattern="^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$" v-model="dni" name="dni" class="form-control text-white">
                            </div>
                            <div class="md-form">
                                <i class="fa fa-lock prefix active"></i>
                                <input type="password"  id="password" autocomplete="off" v-model="password" name="password" maxlength="20" class="form-control text-white">
                                <label for="password" class="active text-white">Contraseña</label>
                            </div>
                            @*<div class="form-group">
                                <label>
                                    <span class="text-white">Forgot <a href="#">password?</a></span>
                                </label>
                            </div>*@

                            <div class="form-group">
                                <button class="btn btn-success btn-block grow">Ingresar</button>
                            </div>
                            @*<div class="form-group">
                                <label class="text-white">
                                    <input type="checkbox" checked="checked" name="remember"> Remember me
                                </label>
                            </div>*@
                        </div>

                    </form>
                </div>

               
            </div>
        </div> 
    </div> 