

/*Nav Menu MODALS*/
 
.modalContentNavMenu {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    background: rgba(0,0,0,0);
}
.modalBodyNavMenu {
    display: flex;
    padding: 0;
    flex: 1;
    padding: 10px;
}
.formControlNavMenu {
    background: rgba(17,17,17,0.5);
    border: 0;
    color: #fff;
}
.Signup {
    background: linear-gradient(#fb5760,#f655a1);
    border-radius: 4px;
    transition: all 0.6s linear;
}
.signup:hover {
        color: #fff;
        text-decoration: none;
        background: rgba(0,0,0,0.9);
}
.modalTitleNavMenu {
    color: white;
} 
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}


/*SWITHC */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6c757d;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: aliceblue;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider{
    background-color: red;
}

input:focus + .slider {
    box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 
