

/*body {
   
    background-image: url("../../images/login.jpg");
  
    height: 100%;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
#AccountForm {
    margin-top: 10%;
}
   /*SWITCH*/

#sexo:checked + .slider {
    background-color: green;
}

#sexo:focus + .slider {
    box-shadow: 0 0 1px green;
}
.sliderSexo {
    background-color: hotpink;
}