 <section id="carousel">
    <div class="overlay">
        <div class="row">
            <div id="carouselConteiner" class="container">
                <section class="customer-logos slider">
                    <div class="slide"><img src="~/assets/images/1200px-Rueda_Eiffel_3.jpg"></div>
                    <div class="slide"><img src="~/assets/images/bg-masthead.jpg"></div>
                    <div class="slide"><img src="~/assets/images/bg-signup.jpg"></div>
                    <div class="slide"><img src="~/assets/images/demo-image-01.jpg"></div>
                    <div class="slide"><img src="~/assets/images/maxresdefault.jpg"></div>
                </section>
            </div>
        </div>
    </div>

    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="mx-auto my-0 text-uppercase">Córdoba</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">23 robos en lo que va del dia.</h2>
            </div>
        </div>
    </div>
</section>