<div class="text-center">
    <h3>
        <i class="fas fa-address-card"></i> My Direccion
    </h3>
    <hr class="hr-light">
</div>
<div class="md-form">
    <label for="provincia" class="active">Provincia</label> 
    <select name="provincia" v-model="domicilio.idProvincia" class="form-control">
        <option id="provincia" v-for="provincia in p_comboProvincia" v-bind:value="provincia.id">
            {{provincia.nombre}}
        </option>
    </select>
</div>
<div class="md-form">
    <label>Localidad</label> 
    <input type="text" name="Domicilio_Localidad" maxlength="40" v-model="domicilio.localidad.nombre" class="form-control"
           v-on:keyup="UpdateSuggestionsBox(domicilio, domicilio.localidad.nombre)"
           v-bind:readonly="domicilio.idProvincia === 0">  
    <div class="suggestions-box input-group-append" v-show="domicilio.p_SuggestionsBoxEstado !== 1">
            <ul>
                <li v-show="domicilio.p_SuggestionsBoxEstado === 2">
                    Buscando... <i class="fa fa-search"></i>
                </li>
                <li v-for="localidad in domicilio.p_LocalidadesSuggestions">
                    <a @@click="FillLocalidadFields(domicilio, localidad)">
                        {{localidad.nombre}}
                    </a>
                </li>
            </ul>
        </div>
</div>
<div class="md-form">
    <i class="fas fa-map-signs prefix active"></i>
    <input type="text" id="barrio" v-model="domicilio.barrio" class="form-control">
    <label for="barrio" class="active">Barrio</label>
</div>
<div class="md-form">
    <i class="fas fa-road prefix active"></i>
    <input type="text" id="calle" v-model="domicilio.calle" class="form-control">
    <label for="calle" class="active">Calle</label>
</div>
<div class="md-form">
    <i class="fa fa-sort-numeric-up prefix active"></i>
    <input type="text" id="numero" v-model="domicilio.numero" class="form-control">
    <label for="numero" class="active">Número</label>
</div>
<div class="md-form">
    <i class="fas fa-id-card prefix active"></i>
    <input type="text" id="piso" v-model="domicilio.piso" class="form-control">
    <label for="piso">Piso</label>
</div>
<div class="md-form">
    <i class="fas fa-id-card prefix active"></i>
    <input type="text" name="departamento" id="departamento" v-model="domicilio.departamento" class="form-control">
    <label for="departamento" class="active">Departamento</label>
</div>
<div class="md-form">
    <button type="button" class="btn btn-info" v-on:click="OpenMap()">Ubicar en el mapa</button>
</div>
<br />
<div class="text-center">
    <button type="button" class="btn btn-danger" v-on:click="p_addressShowView = false">Volver</button>
    <button type="button" class="btn btn-success" v-on:click="SavePerson()">Guardar</button>
</div>