<form id="credentialsForm">
    <div class="text-center">
        <h3>
            <i class="fa fa-user"></i> CREDENCIALES
        </h3>
        <hr class="hr-light">
    </div>
    <div v-show="!p_chekingPersonExist">
        <div class="md-form">
            <i class="fas fa-id-card prefix active"></i>
            <label for="dni" class="active">Dni</label>
            <input type="text" id="dni" maxlength="8" pattern="^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$" v-model="dni" name="dni" class="form-control">
        </div>
        <div class="md-form">
            <i class="fa fa-lock prefix active"></i>
            <input type="password" id="contrasenia" autocomplete="off" v-model="contrasenia" name="contrasenia" maxlength="20" class="form-control">
            <label for="password" class="active">Contraseña</label>
        </div>
        <div class="md-form">
            <i class="fa fa-lock prefix active"></i>
            <input type="password" id="p_contraseniaRepetir" autocomplete="off" v-model="p_contraseniaRepetir" name="p_contraseniaRepetir" maxlength="20" class="form-control">
            <label for="passwordRepit" class="active">Repetir contraseña</label>
        </div>
    </div>
    <div id="spinnerBiger" v-show="p_chekingPersonExist" class="spinner-grow text-info">
        <span class="sr-only"></span>
    </div>
    <div class="alert alert-danger" role="alert">
        <i class="fas fa-exclamation-circle"></i> <strong>{{p_ErrorMessage}}</strong>
    </div>
    <span class="glyphicon glyphicon-remove"></span>
    <div class="text-center mt-4">
        <button type="button" class="btn btn-danger" v-on:click="alert('Volver a la pagina anterior');">Cancelar</button>
        <button type="button" class="btn btn-success" v-bind:disabled="validDni" v-on:click="CheckPersonExist()">Guardar</button>
    </div>
</form>   