@using ElClima.FrontEnd.Helpers

@section DelayedScripts
    {
    <script src="~/assets/plugins/moment/moment.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
    <script src="~/scripts/Account/accountBinding.js" asp-append-version="true"></script>
    <script src="~/scripts/Common/crud_helper.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
}
@{
    MasterLayoutHelper.AddLineToDocumentReadyFunction(string.Format("FormBinding({0});", ViewBag.Id), Context);
}
<header>
    @*CSS Style sheet*@
    <link rel="stylesheet" type="text/css" href="~/assets/css/Account/AccountForm.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap/css/bootstrap-datetimepicker.css" />
</header>

<div class="container" id="AccountForm">
    <form class="form-horizontal justify-content-center">
        <div class="form-group">
            <label class="control-label col-sm-2" for="apellido">Apellido</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="apellido" placeholder="Apellido">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="nombre">Nombres</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nombre" placeholder="Nombres">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="nombre">Dni</label>
            <div class="col-sm-3">
                <i class=" glyphicon glyphicon-menu-right"></i>
                <input type="text" class="form-control" maxlength="15" name="dni" v-model="dni" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="nombre">Fecha de nacimiento</label>
            <div class="col-md-4">
                <div class="input-group date" id="datetimepicker1">
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="sexo">Sexo</label>
            <div class="col-sm-3">
                <label class="switch">
                    <input type="checkbox" id="sexo" data-on="F" data-off="M" v-model="sexo" v-bind:true-value="1" v-bind:false-value="2">
                    <span class="slider sliderSexo round"></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="clave">Clave</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="clave" placeholder="Clave">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input type="password" class="form-control" id="clave2" placeholder="Repetir clave">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Listo</button>
            </div>
        </div>
    </form>
</div>
