@using ElClima.FrontEnd.Helpers

@section DelayedScripts
    {
    <script src="~/scripts/Common/crud_helper.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/moment/moment.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
    <script src="~/scripts/Account/accountBinding.js" asp-append-version="true"></script>
    <script src="~/scripts/Account/addressGeolocation.js" asp-append-version="true"></script>
}

@{
    MasterLayoutHelper.AddLineToDocumentReadyFunction(string.Format("FormBinding({0});", ViewBag.Id), Context);
}
<head>
    @*CSS Style sheet*@ 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpGwfqc1p6G8ydP1AXaNYtOavIx_dcYvU&libraries=places"
            async defer></script>
</head>

<form id="accountForm" class="" v-cloak>
    @*Credentials*@
    <div v-show="p_credentialsShowView">
        <div class="text-center">
            <h3>
                <i class="fas fa-user"></i> Mis credenciales de Acceso
            </h3>
            <hr class="hr-light">
        </div>
        <div v-show="!p_chekingPersonExist">
            <div class="md-form">
                <i class="fas fa-user prefix active"></i>
                <input type="text" id="dni" v-model="dni" class="form-control">
                <label for="dni" class="active">Dni</label>
            </div>
            <div class="md-form">
                <i class="fas fa-user prefix active"></i>
                <input type="password" id="password" v-model="contrasenia" class="form-control">
                <label for="password" class="active">Contraseña</label>
            </div>
            <div class="md-form">
                <i class="fas fa-user prefix active"></i>
                <input type="password" id="passwordRepit" v-model="contraseniaRepetir" class="form-control">
                <label for="passwordRepit" class="active">Repetir contraseña</label>
            </div>
        </div>
        <div id="spinnerBiger" v-show="p_chekingPersonExist" class="spinner-grow text-info">
            <span class="sr-only"></span>
        </div>
        <span class="glyphicon glyphicon-remove"></span>
        <div class="text-center mt-4">
            <button type="button" class="btn btn-danger" v-on:click="alert('Volver a la pagina anterior')">Cancelar</button>
            <button type="button" class="btn btn-success" v-on:click="CheckPersonExist()">Guardar</button>
        </div>
    </div>
    @*Persnal Data*@
    <div v-show="!p_credentialsShowView && !p_addressShowView">
        <div class="text-center">
            <h3>
                <i class="fas fa-user"></i> Mis datos
            </h3>
            <hr class="hr-light">
        </div>
        <div class="md-form">
            <i class="fas fa-user prefix active"></i>
            <input type="text" id="apellido" v-model="apellido" class="form-control">
            <label for="apellido" class="active">Apellido</label>
        </div>
        <div class="md-form">
            <i class="fas fa-envelope prefix active"></i>
            <input type="text" id="nombre" v-model="nombre" class="form-control">
            <label for="nombre" class="active">Nombre</label>
        </div>
        <div class="md-form">
            <i class="fas fa-lock prefix active"></i>
            <input type="text" id="fechaNacimiento" v-model="fechaNacimiento" class="form-control">
            <label for="fechaNacimiento">Fecha de nacimiento</label>
        </div>

        <div class="text-center mt-4">
            <button type="button" class="btn btn-danger" v-on:click="p_credentialsShowView = true">Cancelar</button>
            <button type="button" class="btn btn-success" v-on:click="p_addressShowView = true">Guardar</button>
        </div>
    </div>
    @*Address*@
    <div v-show="p_addressShowView && !p_geolocationMapShowView">
        <div class="text-center">
            <h3>
                <i class="fas fa-user"></i> My Direccion
            </h3>
            <hr class="hr-light">
        </div>
        <div class="md-form">
            <label for="provincia" class="active">Provincia</label>
            <i class="fas fa-user prefix active"></i>
            <select name="provincia" v-model="domicilio.idProvincia" class="form-control">
                <option id="provincia" v-for="provincia in p_comboProvincia" v-bind:value="provincia.id">
                    {{provincia.nombre}}
                </option>
            </select>
        </div>
        <div class="md-form">
            <label>Localidad</label>
            <i class="fa fa-globe"></i>  
                <input type="text" name="Domicilio_Localidad" maxlength="40" v-model="domicilio.localidad" class="form-control"
                       v-on:keyup="UpdateSuggestionsBox(domicilio, domicilio.localidad)"
                       v-bind:readonly="domicilio.idProvincia === 0">
                <div class="suggestions-box" v-show="domicilio.p_SuggestionsBoxEstado !== 1">
                    <ul>
                        <li v-show="domicilio.p_SuggestionsBoxEstado === 2">
                           Buscando...
                        </li> 
                        <li v-for="localidad in domicilio.p_LocalidadesSuggestions">
                            <a @@click="FillLocalidadFields(domicilio, localidad)">
                                {{localidad.nombre}}
                            </a>
                        </li>
                    </ul>
                </div> 
        </div>
        <div class="md-form">
            <i class="fas fa-user prefix active"></i>
            <input type="text" id="barrio" v-model="domicilio.barrio" class="form-control">
            <label for="barrio" class="active">Barrio</label>
        </div>
        <div class="md-form">
            <i class="fas fa-user prefix active"></i>
            <input type="text" id="calle" v-model="domicilio.calle" class="form-control">
            <label for="calle" class="active">Calle</label>
        </div>
        <div class="md-form">
            <i class="fas fa-envelope prefix active"></i>
            <input type="text" id="numero" v-model="domicilio.numero" class="form-control">
            <label for="numero" class="active">Número</label>
        </div>
        <div class="md-form">
            <i class="fas fa-lock prefix active"></i>
            <input type="text" id="piso" v-model="domicilio.piso" class="form-control">
            <label for="piso">Piso</label>
        </div>
        <div class="md-form">
            <i class="fas fa-user prefix active"></i>
            <input type="text" id="departamento" v-model="domicilio.departamento" class="form-control">
            <label for="departamento" class="active">Departamento</label>
        </div>
        <div class="md-form">
            <button type="button" class="btn btn-info" v-on:click="OpenMap()">Ubicar en el mapa</button>
        </div>
        <br />
        <div class="text-center">
            <button type="button" class="btn btn-danger" v-on:click="p_addressShowView = false">Volver</button>
            <button type="button" class="btn btn-success" v-on:click="SavePerson()">Guardar</button>
        </div>
    </div>
    @*Location*@
    <div v-show="p_addressShowView && p_geolocationMapShowView">
        <div class="text-center">
            <h3>
                <i class="fas fa-user"></i>Esta es mi ubicacion
            </h3>
            <hr class="hr-light">
        </div>
        <div class="md-form">
            <div id="map" style="height:600px; width: 100%;"></div>
        </div>

        <div class="md-form">
            <i class="fas fa-user prefix  active"></i>
            <input type="text" id="pac-input" v-model="domicilio.ubicacion.direccion" class="form-control">
            <label for="barrio" class="active">Buscar . . .</label>
        </div>
        <br />
        <div class="text-center">
            <button type="button" class="btn btn-block btn-success" v-on:click="p_geolocationMapShowView = false">Listo!</button>
        </div>

    </div>
</form>
