@section DelayedScripts
    {

}
@{
   
}
<header>
    @*CSS Style sheet*@
    <link rel="stylesheet" type="text/css" href="~/assets/css/Account/CreateAccount.css" />
</header>
 
 <div id="createAccount" class="row">
        <div class="container">
            <form action="">
                <div class="imgcontainer">
                    <img src="img_avatar2.png" alt="Avatar" class="avatar">
                </div>

           

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>
 </div>
 
