@section DelayedScripts
    {
    <script src="~/scripts/Base/baseBinding.js" asp-append-version="true"></script>
}

<header>
    @*CSS Style sheet*@
    <link rel="stylesheet" type="text/css" href="~/assets/css/Account/CreateAccount.css" />
</header>

<div class="container" id="CreateAccount">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="apellido">Apellido</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="apellido" placeholder="Apellido">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="nombre">Nombres</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nombre" placeholder="Nombres">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="sexo">Sexo</label>
            <div class="col-sm-4">
                <label class="switch">
                    <input type="checkbox" id="sexo" data-on="F" data-off="M" v-model="sexo" v-bind:true-value="true" v-bind:false-value="false">
                    <span class="slider round"></span>
                </label>
            </div>  
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="clave">Clave</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="clave" placeholder="Clave">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input type="password" class="form-control" id="clave2" placeholder="Repetir clave">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Listo</button>
            </div>
        </div>
    </form>
</div>
