@section DelayedScripts
    {
    <script src="~/scripts/Report/History/historyBinding.js" asp-append-version="true"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
}

    <div class="history">
        <form id="historyForm">
            <div class="row">
                <div class="col-12">
                    <div class="md-form">
                        <i class="fas fa-user prefix active" aria-hidden="true"></i>
                        <input type="text" id="descripcion" name="descripcion" v-model="descripcion" class="form-control">
                        <label for="descripcion" class="active">Descripcion</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card p-12 grow">
                        <h3 class="text-center">Sin Imagenes</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card p-12 grow">
                        <i class="fas fa-map-marked fa-5x"></i>
                        <p class="text-center">¿Donde?</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">

                        <textarea class="form-control" id="observacion" v-model="observacion" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                </div>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>