@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section DelayedScripts
    {
    <script src="~/scripts/Report/History/historyBinding.js" asp-append-version="true"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
}

<div id="history">
    <form id="historyForm">


        <div class="row justify-content-center">


            <div class="col-sm-12">
                <div class="row justify-content-center">
                    <h3><strong>Historia</strong></h3>
                </div>
                <div class="row justify-content-center">
                    <div class="md-form">
                        <input type="text" id="descripcion" name="descripcion" v-model="descripcion" class="">
                    </div>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="row justify-content-center">
                    <i class="fas fa-images  fa-2x"></i>
                </div>
                <div class="row justify-content-center">
                    <h3 class="text-center text-muted">Sin Imagenes</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mx-auto">
            <div class="col-4">
                <div class="row justify-content-center">
                    <i class="fas fa-map-marker-alt fa-4x "></i>

                </div>
                <div class="row justify-content-center">
                    <p class="text-center">¿Donde?</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="row justify-content-center">
                    <i class="fas fa-align-center  fa-2x"></i>
                </div>
                <div class="row justify-content-center">
                    <h3 class="text-center">Observacion?</h3>
                </div>
            </div>
        </div>
        <div v-show="p_ObserbationLength" class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="form-group">

                    <textarea class="form-control" id="observacion" v-model="observacion" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 col-lg-2">
                <button type="button" class="btn btn-danger" v-on:click="">Cancelar</button>
            </div>
            <div class=" col-6 col-lg-2">
                <button type="button" class="btn btn-success" v-on:click="">Guardar</button>
            </div>
        </div>


    </form>
</div>