@using ElClima.FrontEnd.Helpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section DelayedScripts
    {
    <script src="~/assets/plugins/jquery/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/scripts/Common/crud_helper.js" asp-append-version="true"></script>
    <script src="~/scripts/Common/uploadFile.js"></script>
    <script src="~/assets/plugins/PrettyPhoto/jquery.prettyPhoto.js"></script>
    <script src="~/scripts/Report/History/historyBinding.js" asp-append-version="true"></script>
    <script src="~/scripts/Common/geolocation/OneTargetGeolocation.js" asp-append-version="true"></script>
    <script src="~/scripts/Common/validationCustom.js" asp-append-version="true"></script>
         
    <script type="text/javascript">
        new WOW().init();
    </script>
} 
@{
    MasterLayoutHelper.AddLineToDocumentReadyFunction("$('input').attr('autocomplete','off')", Context);
    MasterLayoutHelper.AddLineToDocumentReadyFunction("$(\"a[rel ^= 'prettyPhoto']\").prettyPhoto({deeplinking:false, social_tools:false});", Context);

}
    <head>
        <link rel="stylesheet" type="text/css" href="~/assets/css/prettyPhoto/prettyPhoto.css" />
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpGwfqc1p6G8ydP1AXaNYtOavIx_dcYvU&libraries=places"
                async defer></script>

    </head>
<div id="history">
    <form v-show="!p_geolocationMapShowView" id="historyForm">

        <div class="row justify-content-center mb-2">
            <div class="col-sm-12">
                <div class="row justify-content-center  ">
                    <div class="md-form">
                        <div class="row justify-content-center ">
                            <h3><strong>Historia</strong></h3>
                        </div>
                        <input type="text" id="descripcion" name="descripcion" v-model="descripcion" class="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-sm-12">
                <a v-show="p_uploadImageState !== 3" id="UpLoadButton1" v-on:click="OpenImageUpload()">
                    <div class="row justify-content-center">
                        <i class="fas fa-images  fa-2x"></i>
                    </div>
                    <div class="row justify-content-center">
                        <h3 class="text-center text-muted">Sin Imagenes</h3>
                    </div>
                </a>

                <div v-show="image" style="display:flex; flex-direction: column; justify-content: center;  min-height: 200px;">
                    <a :href="image" rel="prettyPhoto[gallery2]" title="Vista Frontal">
                        <img style="max-height: 200px;" id="image" class="img-responsive" :src="image" alt="Frente" />
                    </a> 
                </div>
                <input hidden type="file" id="imageUploading" onchange="javascript: { p_uploadImageState = ($('#imageUploading').val() === '') ? 2 : 3; vm.$options.methods.UploadFile()}">
            </div>
        </div>
        <div class="row justify-content-center mb-5 ">
            <div class="col-4">
                <a data-toggle="modal" v-on:click="OpenMap()" data-target="#MapModal">
                    <div class="row justify-content-center">
                        <i class="fas fa-map-marker-alt fa-4x "></i>
                    </div>
                    <div class="row justify-content-center">
                        <h3 class="text-center">¿Donde?</h3>
                    </div>
                </a>

            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-12 col-lg-8 justify-content-center">
                <a data-toggle="modal" v-show="!p_ObservationContent" v-on:click="p_ObservationContent = true" data-target="#MapModal">
                    <div class="row justify-content-center">
                        <i class="fas fa-align-center  fa-2x"></i>
                    </div>
                    <div class="row justify-content-center">
                        <h3 class="text-center">¿Observación?</h3>
                    </div>
                </a>
                <div v-show="p_ObservationContent" class="col-12 col-lg-12">
                    <div class="form-group">
                        <textarea class="form-control" id="observacion" v-model="observacion" rows="3"></textarea>
                    </div>
                    <div class="row justify-content-center">
                        <h3 class="text-center">Observación</h3>
                    </div>
                </div>

            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-6 col-lg-2">
                <button type="button" class="btn btn-danger" v-on:click="">Cancelar</button>
            </div>
            <div class=" col-6 col-lg-2">
                <button type="button" class="btn btn-success" v-on:click="">Guardar</button>
            </div>
        </div>
    </form>
    <div v-show="p_geolocationMapShowView" class="">
        <div class="modal-body modalBodyNavMenu justify-content-center">
            @await Html.PartialAsync("../Common/Geolocation/_OneTargetGeolocation")
        </div>
    </div>
</div>