/*Nav Main*/
#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
#mainNav {
    background-color: #212529;
}
    #mainNav .navbar-brand {
        color: #fed136;
        font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

        #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
            color: #fec503;
        }

    #mainNav .navbar-nav .nav-item .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: white;
        font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

        #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
            color: #fed136;
        }

@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }

        #mainNav .navbar-brand {
            font-size: 1.75em;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        #mainNav .navbar-nav .nav-item .nav-link {
            padding: 1.1em 1em !important;
        }

        #mainNav.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: #212529;
        }

            #mainNav.navbar-shrink .navbar-brand {
                font-size: 1.25em;
                padding: 12px 0;
            }
}

body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*Nav Menu MODALS*/
#buttonHistory ,#buttonThief ,#buttonQuestion ,#buttonLost {
    height: 200px;
    width: 200px;
}
.modalContentNavMenu {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    background: transparent;
}
.modalBodyNavMenu {
    display: flex;
    padding: 0;
    flex: 1;
    padding: 10px;
}
.formControlNavMenu {
    background: rgba(17,17,17,0.5);
    border: 0;
    color: #fff;
}
.Signup {
    background: linear-gradient(#fb5760,#f655a1);
    border-radius: 4px;
    transition: all 0.6s linear;
}
.signup:hover {
        color: #fff;
        text-decoration: none;
        background: rgba(0,0,0,0.9);
}
.modalTitleNavMenu {
    color: white;
} 
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}


/*SWITHC STYLES*/ 
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6c757d;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color:aliceblue;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: red;
}

input:focus + .slider {
    box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }